<div id="parallax1" class="parallax text-light text-center marginbot50 bg-position">
    <div class="container" id="contest">
      <div class="row appear stats">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="align-center color-white txt-shadow">
            <div><i class="fas fa-gamepad fa-5x"></i></div>
            <strong class="number">{{contestValue.contest.contestNumber}}</strong><br>
            <span class="text">Contest</span></div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="align-center color-white txt-shadow">
            <div><i class="fas fa-laptop-code fa-5x"></i></div>
            <strong class="number">{{contestValue.contest.codingNumber}}</strong><br>
            <span class="text">Coding</span></div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="align-center color-white txt-shadow">
            <div><i class="fas fa-trophy fa-5x"></i></div>
            <strong id="counter-clock" class="number">{{contestValue.contest.awardNumber}}</strong><br>
            <span class="text">Awards</span></div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="align-center color-white txt-shadow">
            <div><i class="fas fa-money-bill-wave fa-5x"></i></div>
            <strong id="counter-heart" class="number">{{contestValue.contest.rewardNumber}}</strong><br>
            <span class="text">Reward</span></div>
        </div>
      </div>
    </div>
  </div>

  