<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">Theo Website</a>
            <img src="assets/img/my-logo.png" class="custom-height">
                <button class="navbar-toggler navbar-burger navBar-close nav-close" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item menu-active">
                    <a class="nav-link text-white cursor-pointer" (click)="scroll('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white cursor-pointer" (click)="scroll('keyFeature')">Key Feature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white cursor-pointer" (click)="scroll('contest')">Contest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white cursor-pointer" (click)="scroll('contactUs')">
                        Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white cursor-pointer" (click)="scroll('footer')">
                        Footer
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
