<section id="main-title5" class="main-title" id="keyFeature">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <h3>Key Features</h3>
                <p>Build your beautiful Mobile Apps Landing page. Pexels has a Many Variation of demo for every need <br> and a beautiful
                    Landing website makes it much easier.</p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row section-padding">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <div class="demo-icon-feature text-center">
                <div class="line"></div>
                <div class="icon">
                    <span class="ion ion-ios-sunny"></span>
                </div>
                <div class="desc">{{features.keyFeatures.value1}}</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <div class="demo-icon-feature text-center">
                <div class="line"></div>
                <div class="icon">
                    <span class="ion ion-ios-tablet-portrait"></span>
                </div>
                <div class="desc">{{features.keyFeatures.value2}}</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <div class="demo-icon-feature text-center">
                <div class="line"></div>
                <div class="icon">
                    <span class="ion ion-md-color-wand"></span>
                </div>
                <div class="desc">{{features.keyFeatures.value3}}</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <div class="demo-icon-feature text-center">
                <div class="line"></div>
                <div class="icon">
                    <span class="ion ion-ios-cloud-done"></span>
                </div>
                <div class="desc">{{features.keyFeatures.value4}}</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <div class="demo-icon-feature text-center">
                <div class="line"></div>
                <div class="icon">
                    <span class="ion ion-ios-rocket"></span>
                </div>
                <div class="desc">{{features.keyFeatures.value5}}</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <div class="demo-icon-feature text-center">
                <div class="line"></div>
                <div class="icon">
                    <span class="ion ion-ios-speedometer"></span>
                </div>
                <div class="desc">{{features.keyFeatures.value6}}</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <div class="demo-icon-feature text-center">
                <div class="line"></div>
                <div class="icon">
                    <span class="ion ion-ios-apps"></span>
                </div>
                <div class="desc">{{features.keyFeatures.value7}}</div>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 col-md-4 col-sm-6">
            <div class="demo-icon-feature text-center">
                <div class="line"></div>
                <div class="icon">
                    <span class="ion ion-md-crop"></span>
                </div>
                <div class="desc">{{features.keyFeatures.value8}}</div>
            </div>
        </div>
    </div>
</div>